body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
p{
    font-size: smaller;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    margin-left: 280px;
}

.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.new{
    display: flex;
    width: 540px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input, select {
    width: 500px;
    
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 400px;
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #166fe5;
}
